apiVersion: v1
kind: ConfigMap
metadata:
  name: env
  namespace: attendee
  labels:
    app.kubernetes.io/name: attendee
data:
  ANON_THROTTLE_RATE: 100000/hour
  BOT_CODE_VOLUME_MOUNT_PATH: /attendee
  BOT_CPU_REQUEST: 1500m
  BOT_EPHEMERAL_STORAGE_REQUEST: 5Gi
  BOT_MEMORY_LIMIT: 8Gi
  BOT_MEMORY_REQUEST: 2Gi
  BOT_POD_CONFIG_MAP_NAME: env
  BOT_POD_IMAGE: ghcr.io/hjs48/attendee
  BOT_POD_NAMESPACE: attendee
  BOT_POD_SECRETS_NAME: app-secrets
  BOT_POD_SERVICE_ACCOUNT_NAME: attendee-bot-creator
  CUBER_RELEASE_VERSION: latest
  DEFAULT_FROM_EMAIL: transcripts@studio258.ai
  DEV_BYPASS_EMAIL: harryschmidt042@gmail.com
  DISABLE_BOT_POD_IMAGE_PULL_SECRET: "false"
  BOT_POD_IMAGE_PULL_SECRET_NAME: ghcr-secret
  # Bot pod scheduling - target autoscaling bots pool
  BOT_POD_NODE_SELECTOR: '{"workload": "bots"}'
  BOT_POD_TOLERATIONS: '[{"key": "workload", "operator": "Equal", "value": "bots", "effect": "NoSchedule"}]'
  DISABLE_RATE_LIMITING: "true"
  DJANGO_SETTINGS_MODULE: attendee.settings.production
  ENABLE_CHROME_SANDBOX: "false"
  INTERNAL_EMAIL_DOMAIN: soarwithus.co
  LAUNCH_BOT_METHOD: kubernetes
  MAX_CONCURRENT_BOTS: "20"
  SAVE_BOT_RESOURCE_SNAPSHOTS: "true"
  TASK_EXECUTION_MODE: celery
  TRANSCRIPT_BASE_URL: https://wayfarrow.info
  USER_THROTTLE_RATE: 100000/hour
  WEBPAGE_STREAMER_POD_NAMESPACE: attendee-webpage-streamer
  # Database config - pointing to in-cluster PostgreSQL
  DATABASE_URL: "postgres://attendee:VpSlG4mum10VQdgchZraS%2FNYPmNfk1bW0gzM8B7jiYc%3D@postgres.attendee.svc.cluster.local:5432/attendee"
  POSTGRES_HOST: postgres.attendee.svc.cluster.local
  POSTGRES_DB: attendee
  POSTGRES_USER: attendee
  POSTGRES_SSL_REQUIRE: "false"
  # Redis config - pointing to in-cluster Redis
  REDIS_URL: "redis://redis.attendee.svc.cluster.local:6379/0"
  CELERY_BROKER_URL: "redis://redis.attendee.svc.cluster.local:6379/0"
