apiVersion: v1
items:
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"rbac.authorization.k8s.io/v1","kind":"Role","metadata":{"annotations":{},"name":"bot-pod-manager","namespace":"attendee"},"rules":[{"apiGroups":[""],"resources":["pods"],"verbs":["create","delete","get","list","watch","patch"]},{"apiGroups":[""],"resources":["pods/log"],"verbs":["get","list"]},{"apiGroups":[""],"resources":["events"],"verbs":["get","list","watch"]},{"apiGroups":["apps"],"resources":["deployments","replicasets"],"verbs":["get","list","watch"]}]}
    creationTimestamp: "2026-01-19T14:16:27Z"
    name: bot-pod-manager
    namespace: attendee
    resourceVersion: "27303"
    uid: 83c0a83b-c665-4727-a29f-066e20d90fab
  rules:
  - apiGroups:
    - ""
    resources:
    - pods
    verbs:
    - create
    - delete
    - get
    - list
    - watch
    - patch
  - apiGroups:
    - ""
    resources:
    - pods/log
    verbs:
    - get
    - list
  - apiGroups:
    - ""
    resources:
    - events
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - apps
    resources:
    - deployments
    - replicasets
    verbs:
    - get
    - list
    - watch
kind: List
metadata:
  resourceVersion: ""
